{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="ml-0 pl-0 mt-5">Login</h2>
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {{ field.label }}
                    {{ field(class_="form-control") }}
                </p>

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button class="btn btn-warning">Login</button>
        </form>
    </div>
{% endblock %}